# Configuration for mail-mangler.py
#
# Note: This file is a Python file, and the syntax thus must adhere to
# the Python syntax.
#
# This file should define one dictionary called "mangling". The keys
# in this dictionary are mail header names, or the special name "Body"
# to denote the message body. The values are replacement values for
# those fields. The values can include values from the original
# message using the Python string formatting directives:
# %(HeaderFieldName)s to include the old value of the header called
# HeaderFieldName.

mangling = {

'To': 'Egil Moeller <egil.moller@freecode.no>, Reidar <reidar.oksnevad@freecode.no>',

'From': 'Heads up! <noreply@colorline.no>',

'Subject': 'Heads up: %(Subject)s',

'Body': """

THIS IS AN INFORMATIONAL MESSAGE ONLY

You have not yet received any responsibility for this ticket, and in
fact may or may not do so depending on the nature of the ticket and
its progress.


%(Body)s""",

}
